<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agentrap - Responsive Bootstrap Agency Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel='stylesheet' id='prettyphoto-css'  href="assets/css/prettyPhoto.css" type='text/css' media='all'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  	
  	<!-- Google Fonts call. Font Used Open Sans -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>

  </head>

  <body>
  	<!-- MAIN CONTAINER BEGINS -->
	<div class="container">
		<div id="header_bg"></div> <!-- Display top header background -->
			<div class="row">
				<div class="span12">
					<div id="logo"><img src="assets/img/coollogo.png" alt="Logo"></div><!-- Display Logo -->
  	
  	<!-- Nabigation -->
					<nav>
					<ul class="nav pull-right nav-pills">
						<li class="active">
		    				<a href="index.html">Home</a>
		 				 </li>
						<li class="dropdown">
		    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio<b class="caret"></b>
		      				</a>
		    				<ul class="dropdown-menu">
		      				<li><a href="3col-portfolio.html">Portfolio 3 Columns</a></li>
		      				<li><a href="4col-portfolio.html">Portfolio 4 Columns</a></li>
		      				<li><a href="item-portfolio.html">Image Portfolio</a></li>
		      				<li><a href="video-portfolio.html">Video Portfolio</a></li>
		    				</ul>
						<li><a href="services.html">Services</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					</nav>	
  	<!-- /END Navigation -->
					
				</div><!--/span12 -->
			</div> <!--/row -->
    <!-- /END TOP PART -->
		
		<br>
		<br>
		<br>
		<br>
		<br>
			<div class="row">
				<div class="span12">
    <!-- Welcome Text -->
					<h2>5280 Web Design is a small studio of web designers.</h2>
					<h2>We believe in effective and quality web design.</h2>
    <!-- /END Welcome Text -->
					<br>
					<br>
    <!-- "Who We Are" section -->

					<h2 class="section_header">Who We Are?</h2>				
	                <div class="taglinequite">
	                <p><b>5280 Web Design</b> is a small studio of web designers, developers, photographers and video experts. We all believe in effective design and are fully dedicated to creating websites that work for you and your customers. That's why we spend time getting to know you and your audience.</p>
	                <p>We feel it's the only way to create websites that effectively communicate your core messages and help you to engage with your users. We're all about quality. We are not IT people, we are humans with a real <b>desire to be of service</b>.</p>
	                </div>
                    <hr class="dashed">
    <!-- /END "Who We Are" section -->

					<br>
					<br>
    <!-- "Our Process" section -->
					<h2 class="section_header">Our Process</h2>				
					<ul class="thumbnails">
						<li class="span3">
						<img src="assets/img/process1.png">
						<br>
						<br>
						<h4>Discover</h4>
						<p>The first stage of the process is to define the exact goals of the project or business. The discovery phase clearly states the problem and contains all of the information needed. Understanding the business properly will allow us to develop a unique solution for you</p>
						</li>
						<li class="span3">
						<img src="assets/img/process2.png">
						<br>
						<br>
						<h4>Design</h4>
						<p>Now we begin to engage the creativity that is required to start developing focused design routes. Core choices about layout, type size and colour palettes are tested within a number of ideas to identify what works best in order to communicate your goals.</p>
						</li>
						<li class="span3">
						<img src="assets/img/process3.png">
						<br>
						<br>
						<h4>Build</h4>
						<p>Once the design is signed off it is put into development. It is here where a working system that mimics the final design, is built with clean, semantic code that validates according to the W3C Organizations own community developed standards.</p>
						</li>
						<li class="span3">
						<img src="assets/img/process4.png">
						<br>
						<br>
						<h4>Launch</h4>
						<p>Your system will require content. We will work with you to ensure you are unstoppable when it comes to using and populating your new website. Once launched, will be on hand to troubleshoot any queries you may have with regards to your site and its performance.</p>
						</li>
					</ul>
                    <hr class="dashed">
    <!-- /END "Our Process" section -->

    <!-- Studio Slider section -->
					<br>
					<br>
					<h2 class="section_header">Our Lovely Studio</h2>				
          			<div id="myCarousel" class="carousel slide">
           				<div class="carousel-inner">
              				<div class="item active">
                			<img src="assets/img/studio1.jpg" alt="">
              				</div>
              				<div class="item">
                			<img src="assets/img/studio2.jpg" alt="">
              				</div>
              				<div class="item">
                			<img src="assets/img/studio3.jpg" alt="">
              				</div>
            			</div>
            			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          			</div>
          			<br>
                    <hr class="dashed">
    <!-- /END Studio Slider section -->

    <!-- "The Team" section -->
          			<br>
					<h2 class="section_header">The Team</h2>				
					<ul class="thumbnails">
						<li class="span3">
						<img src="assets/img/team1.png">
						<br>
						<br>
						<h4>Paul Gascogne</h4>
						<p><b>- Design Director.</b> Paul combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, Oli fully understands client objectives when working on a project, large or small.</p>
						</li>
						<li class="span3">
						<img src="assets/img/team2.png">
						<br>
						<br>
						<h4>Andrea Ardean</h4>
						<p><b>- Creative Director.</b> Be a creative director is a hard task, but Andrea loves what she does. Her combination of knowledge and expertise is an important pillar in our agency.</p>
						</li>
						<li class="span3">
						<img src="assets/img/team3.png">
						<br>
						<br>
						<h4>Marcel Newman</h4>
						<p><b>- Client Services.</b> Marcel is an experienced marcoms practitioner and manages projects from inception to delivery. He understands the synergy between great design and commercial effectiveness which shines through on every project.</p>
						</li>
						<li class="span3">
						<img src="assets/img/team4.png">
						<br>
						<br>
						<h4>Dave Threepwood</h4>
						<p><b>- Design Master.</b>Dave began making websites when animated logos and scrolling text were cool, but has since found a love for simplicity, creating websites that are a pleasure to browse. Monkey Island Fan.</p>
						</li>
					</ul>
    <!-- /END "The Team" section -->
				
				</div><!-- /span12 -->
			</div><!-- /row -->
    </div> <!-- /container -->

	
  </body>
</html>
