<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agentrap - Responsive Bootstrap Agency Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">  
    <link href="/stylesheets/main.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <link rel='stylesheet' id='prettyphoto-css'  href="/stylesheets/prettyPhoto.css" type='text/css' media='all'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    
    <!-- Google Fonts call. Font Used Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>

  </head>

  <body>
    <!-- MAIN CONTAINER BEGINS -->
  <div class="container">
    <div id="header_bg"></div> <!-- Display top header background -->
      <div class="row">
        <div class="span12">
          <div id="logo"><img src="/images/coollogo.png" alt="Logo"></div><!-- Display Logo -->
    
    <!-- Navigation -->
          <nav>
          <ul class="nav pull-right nav-pills">
            <li class="active">
                <a href="home.html">Home</a>
             </li>
            
                <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          </nav>  
  	<!-- /END Navigation -->
					
				</div><!--/span12 -->
			</div> <!--/row -->
    <!-- /END TOP PART -->
		<br>
		<br>
		<br>
		<br>
		<br>
			<div class="row">
				<div class="span12">
    <!-- Welcome Message -->
					<h2>We write about web design, social media</h2>
					<h2>digital marketing and much more.</h2>
    <!-- /END Welcome Message -->
					<br>
					<br>
    <!-- Our Blog Section -->
					<h2 class="section_header">Our Blog</h2>
     				<div id="portfolio" class="row">
    				<!-- 1st Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post1-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-image-rs.html" style="color:#b8413e">Post with an image & right sidebar</a></h4></p>
	                            <p>This post comes with an image and a right sidebar.</p>
                            </div>
						</div>
    				<!-- 2nd Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post2-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-image-ls.html" style="color:#b8413e">Post with an image & left sidebar</a></h4></p>
	                            <p>This post comes with an image and a left sidebar.</p>
                            </div>
						</div>
    				<!-- 3rd Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post4-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-video-rs.html" style="color:#b8413e">Post with a video & right sidebar</a></h4></p>
	                            <p>This post comes with a video and a right sidebar.</p>
                            </div>
						</div>
    				<!-- 4th Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post5-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-video-ls.html" style="color:#b8413e">Post with a video & left sidebar</a></h4></p>
	                            <p>This post comes with a video and a left sidebar.</p>
                            </div>
						</div>
    				<!-- 5th Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post6-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-text-focus.html" style="color:#b8413e">Post with text focus</a></h4></p>
	                            <p>This post comes with a text focus design. No sidebar.</p>
                            </div>
						</div>
    				<!-- 6th Blog Post -->
						<div class="span4">
							<div class="view view-first">
								<img src="/assets/img/blog/post3-b.jpg" alt="Featured 1">
	                            <p><h4><a href="post-2sidebars.html" style="color:#b8413e">Post with an image & 2 sidebars</a></h4></p>
	                            <p>This post comes with an image and both, right and left sidebar.</p>
                            </div>
						</div>
					</div>				
                    <hr class="dashed">
    <!-- /END Our Blog Section -->
					<br>
					<br>
				</div><!-- /span12 -->
			</div><!-- /row -->
    </div> <!-- /container -->

	<!-- FOOTER -->
	<div id="end">
         <footer class="clearfix">
         	<div class="container">
         		<div class="row">
     <!-- About section -->
         			<ul class="span3">
         			<h5>ABOUT</h5>
        			<p>This is a beautiful theme and you know it. So, what are you waiting for? Buy it now, you'll no regret it.</p>
         			<img src="/assets/img/logo85x85.png" alt="Logo">
         			</ul>
     <!-- /END About section -->
     <!-- Socialize section -->
         			<ul class="span3">
 						<h5>SOCIALIZE</h5>
 						<p>We are social people. We love be in contact with everybody. We share beautiful things & thoughts.</p>
						<a href="#"><img src="/assets/img/social/Twitter.png" alt="Twitter"></a>
						<a href="#"><img src="/assets/img/social/Pinterest.png" alt="Pinterest"></a>
						<a href="#"><img src="/assets/img/social/Tumblr.png" alt="Tumblr"></a>
						<a href="#"><img src="/assets/img/social/Dribbble.png" alt="Dribbble"></a>
						<a href="#"><img src="/assets/img/social/Behance.png" alt="Behance"></a>
         			</ul>
     <!-- /END Socialize section -->
     <!-- Latest Tweet section -->
         			<ul class="span3">
 						<h5>LATEST TWEETS</h5>
 						<div id="jstwitter" class="clearfix">
						<ul id="twitter_update_list"></ul>
						</div>
						<script src="http://twitter.com/javascripts/blogger.js"></script><!-- Script Needed to load the Tweets -->
						<script src="http://api.twitter.com/1/statuses/user_timeline/envato.json?callback=twitterCallback2&count=3"></script>
     					<!-- To show your tweets replace "envato", in the line above, with your user. -->
         			</ul>
     <!-- /END Latest Tweets section -->
     <!-- Contact section -->
         			<ul class="span3">
         			<h5>CONTACT</h5>
         			<p><i class="icon-home icon-white"></i> Some Ave. 987</p>
         			<p><i class="icon-globe icon-white"></i> New York, USA</p>
         			<p><i class="icon-envelope icon-white"></i> your@email.com</p>
         			<p><i class="icon-thumbs-up icon-white"></i> Like to talk!</p>
         			</ul>
     <!-- /END Contact section -->


         		</div><!-- /row -->
         	</div><!-- /container -->
         </footer><!-- /footer -->
    </div><!-- /end -->

	    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  	<script type='text/javascript' src="/assets/js/jquery.js"></script>
    <script type='text/javascript' src="/assets/js/bootstrap.js"></script>
  	<script type='text/javascript' src="/assets/js/jquery.prettyPhoto.js"></script>
    <script type='text/javascript' src="assets/js/agentrap.js"></script>

  </body>
</html>
