<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agentrap - Responsive Bootstrap Agency Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel='stylesheet' id='prettyphoto-css'  href="assets/css/prettyPhoto.css" type='text/css' media='all'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  	
  	<!-- Google Fonts call. Font Used Open Sans -->
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel='stylesheet' type='text/css'>

  </head>

  <body>
  	<!-- MAIN CONTAINER BEGINS -->
	<div class="container">
		<div id="header_bg"></div> <!-- Display top header background -->
			<div class="row">
				<div class="span12">
					<div id="logo"><img src="assets/img/coollogo.png" alt="Logo"></div><!-- Display Logo -->
  	
  	<!-- Navigation -->
					<nav>
					<ul class="nav pull-right nav-pills">
						<li class="active">
		    				<a href="index.html">Home</a>
		 				 </li>
						<li class="dropdown">
		    				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Portfolio<b class="caret"></b>
		      				</a>
		    				<ul class="dropdown-menu">
		      				<li><a href="3col-portfolio.html">Portfolio 3 Columns</a></li>
		      				<li><a href="4col-portfolio.html">Portfolio 4 Columns</a></li>
		      				<li><a href="item-portfolio.html">Image Portfolio</a></li>
		      				<li><a href="video-portfolio.html">Video Portfolio</a></li>
		    				</ul>
						<li><a href="services.html">Services</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					</nav>	
  	<!-- /END Navigation -->
					
				</div><!--/span12 -->
			</div> <!--/row -->
    <!-- /END TOP PART -->
		<br>
		<br>
		<br>
		<br>
		<br>
			<div class="row">
				<div class="span12">
    <!-- Welcome Message -->
					<h2>Where in the world is 5280 Web Design?</h2>
					<h2>Beautiful, Denver Colorado</h2>
    <!-- /END Welcome Message -->
					<br>
					<br>
    <!-- "Map" Message -->
					<h2 class="section_header hidden-phone">Map</h2>				
           			<div class="map hidden-phone"><iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4200%2BSouth%2BUlster%2BStreet%2BDenver%2C%2BColorado&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe></div>
    <!-- /END "Map" Message -->
    <!-- Contact Section -->
					<h2 class="section_header">Contact</h2>
					<div class="form-horizontal row">
						<ul class="span9">
							<form class="well">
							  <label style="font-size:18px;">Name:</label>
							  <input type="text" class="span6" placeholder="Your Name...">
							  <br>
							  <br>
							  <label style="font-size:18px;">Email:</label>
							  <input type="text" class="span6" placeholder="Your Email...">
							  <br>
							  <br>
							  <label style="font-size:18px;">Your Text:</label>
							  <textarea class="input-xlarge span6" id="textarea" rows="5"></textarea>
							  <br>
							  <br>
							  <button type="submit" class="btn-danger btn btn-large">Submit</button>
							</form>
						</ul>
						<ul class="span3">
						    
						    <p><h4>Adress:</h4></p>
		         			<p><i class="icon-home"></i> Some Ave. 987</p>
		         			<p><i class="icon-globe"></i> New York, USA</p>
		         			<p><i class="icon-envelope"></i> your@email.com</p>
		         			<p><i class="icon-thumbs-up"></i> Like to talk!</p>
						</ul>
					</div>
                    <hr class="dashed">
    <!-- /END Contact Section -->
					<br>
					<br>
				</div><!-- /span12 -->
			</div><!-- /row -->
    </div> <!-- /container -->

	<!-- FOOTER -->
	<div id="end">
         <footer class="clearfix">
         	<div class="container">
         		<div class="row">
     <!-- About section -->
         			<ul class="span3">
         			<h5>ABOUT</h5>
        			<p>This is a beautiful theme and you know it. So, what are you waiting for? Buy it now, you'll no regret it.</p>
         			
         			</ul>
     <!-- /END About section -->
     <!-- Socialize section -->
         			<ul class="span3">
 						<h5>SOCIALIZE</h5>
 						<p>We are social people. We love be in contact with everybody. We share beautiful things & thoughts.</p>
						<a href="#"><img src="assets/img/social/Twitter.png" alt="Twitter"></a>
						<a href="#"><img src="assets/img/social/Pinterest.png" alt="Pinterest"></a>
						<a href="#"><img src="assets/img/social/Facebook.png" alt="Facebook"></a>
						<a href="#"><img src="assets/img/social/Dribbble.png" alt="Dribbble"></a>
						<a href="#"><img src="assets/img/social/Behance.png" alt="Behance"></a>
         			</ul>
     <!-- /END Socialize section -->
     <!-- Latest Tweet section -->
         			<ul class="span3">
 						<h5>LATEST TWEETS</h5>
 						<div id="jstwitter" class="clearfix">
						<ul id="twitter_update_list"></ul>
						</div>
						<script src="http://twitter.com/javascripts/blogger.js"></script><!-- Script Needed to load the Tweets -->
						<script src="http://api.twitter.com/1/statuses/user_timeline/rorpuppy.json?callback=twitterCallback2&count=3"></script>
     					<!-- To show your tweets replace "envato", in the line above, with your user. -->
         			</ul>
     <!-- /END Latest Tweets section -->
     <!-- Contact section -->
         			<ul class="span3">
         			<h5>CONTACT</h5>
         			<p><i class="icon-home icon-white"></i> Some Ave. 987</p>
         			<p><i class="icon-globe icon-white"></i> New York, USA</p>
         			<p><i class="icon-envelope icon-white"></i> your@email.com</p>
         			<p><i class="icon-thumbs-up icon-white"></i> Like to talk!</p>
         			</ul>
     <!-- /END Contact section -->


         		</div><!-- /row -->
         	</div><!-- /container -->
         </footer><!-- /footer -->
    </div><!-- /end -->

	    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  	<script type='text/javascript' src="assets/js/jquery.js"></script>
    <script type='text/javascript' src="assets/js/bootstrap.js"></script>
  	<script type='text/javascript' src="assets/js/jquery.prettyPhoto.js"></script>
    <script type='text/javascript' src="assets/js/agentrap.js"></script>

  </body>
</html>
