<!DOCTYPE html>
<html lang="en">
  <head>
        
  </head>

  <body>
    <!-- MAIN CONTAINER BEGINS -->
  <div class="container">
    <!-- _render navigation.html.erb -->
    
			<div class="row">
				<div class="span12">
    <!-- Welcome Message -->
					<h2>We are a small agency fully dedicated to creating</h2>
					<h2>websites that work for you and your customers.</h2>
    <!-- /END Welcome Message -->
					<br>
					<br>
    <!-- Slider -->
          			<div id="myCarousel" class="carousel slide">
           				<div class="carousel-inner">
              			    <!-- First Image -->
              				<div class="item active">
                				<img src="/assets/img/prueba5.png" alt="">
              				</div>
              			    <!-- Second Image -->
              				<div class="item">
                				<img src="/assets/img/prueba4.png" alt="">
              				</div>
              			    <!-- Third Image -->
              				<div class="item">
                				<img src="/assets/img/prueba6.png" alt="">
              				</div>
            			</div>
            			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          			</div>
    <!-- /END Slider -->
					<br>
					<br>
    <!-- "What Is This" Message -->
					<h2 class="section_header">What We Do?</h2>				
	                <div class="taglinequite"><b>5280 WebDesign is Colorado based company</b>
                  <p>    No matter where you are in the world, we can design a website that fits your needs perfectly. Take look around our site and enjoy.</p></div>
                    <hr class="dashed">
					<br>
					<br>
    <!-- /END "What Is This" Message -->
    <!-- Features Work Section -->
					<h2 class="section_header">Featured Work</h2>
					<ul class="thumbnails">
						<li class="span4 view view-first">
							<img src="/assets/img/featured/dsn.jpg" alt="Featured 1">
						    <div class="mask">
                                <a href="/assets/img/featured/dsn.jpg" rel="prettyPhoto" class="info"></a>
                                <a href="http://denversportsnation.com/" class="link"></a>
                            </div>
						</li>
						<li class="span4 view view-first">
							<img src="/assets/img/featured/ruby-on-rails.jpg" alt="Featured 1">
						    <div class="mask">
                                <a href="/assets/img/featured/ruby-on-rails.jpg" rel="prettyPhoto" class="info"></a>
                                <a href="http://rubyonrailspup.com/" class="link"></a>
                            </div>
						</li>

						<li class="span4 view view-first">
							<img src="/assets/img/featured/bcff.jpg" alt="Featured 1">
						    <div class="mask">
                                <a href="assets/img/featured/bcff.jpg" rel="prettyPhoto" class="info"></a>
                                <a href="http://bloodcancerfreedomfighters.com/" class="link"></a>
                                
                            </div>
						</li>

					</ul>
                    <hr class="dashed">
    <!-- /END Features Work Section -->
					<br>
					<br>
				</div><!-- /span12 -->
			</div><!-- /row -->
    </div> <!-- /container -->

	<!-- FOOTER -->
	
 </body>
</html>
