<rss version="2.0">
<channel>
<title>Daniel Stutzman</title>
<link>http://www.5280webdesign.com/</link>
<description>
A Boulder web developer shares tech reviews and how-tos
</description>
<language>en-us</language>