<!DOCTYPE html>
<html lang="en">
  <head>
        
  </head>

  <body>
    <!-- MAIN CONTAINER BEGINS -->
  <div class="container">
    
      <div class="row">
        <div class="span12">
    <!-- Welcome Text -->
          <h2>We are passionate about creativity</h2>
          <h2>and the delivery of high quality solutions.</h2>
    <!-- /END Welcome Text -->
          <br>
          <br>
    <!-- "How It Works" section -->
          <h2 class="section_header">How It Works?</h2>       
            <div class="thumbnails">
            <li class="span6">
              <h4>It's all about relationships</h4>
              <br>
              <p>Relationships are the foundation to any experience. We help you understand existing and create new relationships with your audience through the digital channel. We study, understand and work with your identity ensuring continuity and clarity for your users. Always.</p>
              <p>We help you reach out to your audience, by communicating your message in the most appropriate way for the medium. Our process involves working from your content up in a design led manner.</p>
            </li>
            <li class="span6">
              <h4>It's the little things...</h4>
              <br>
              <p>...that make all the difference. You know, the little details we all take for granted but if taken away feel like a massive gap?</p>
              <p>We're dedicated to our work and truly love what we do. The ultimate reward for us is to see our clients succeed.</p>
              <p>Our process is iterative so we're constantly improving, innovating and finding new ways of doing things. We're smart, creative and full of bright ideas.</p>
            </li>
          </div>
                    <hr class="dashed">
    <!-- /END "How It Works" section -->
          <br>
          <br>
    <!-- "Our Services" section -->
          <h2 class="section_header">Our Services</h2>        
          <ul class="thumbnails row">
            <li class="span3">
              <img src="/assets/img/service1.png">
              <br>
              <br>
              <h4>Branding</h4>
              <br>
              <p>Your brand is one of the most important thing. We can help you with...</p>
              <p>*Logo Creation</p>
              <p>*Identity Kit</p>
              <p>*Brand Guidelines</p>
            </li>
            <li class="span3">
              <img src="/assets/img/service2.png">
              <br>
              <br>
              <h4>Creative</h4>
              <br>
              <p>We have moustaches, so we know what we do. 100% creatives.</p>
              <p>*Website Design</p>
              <p>*Poster Design</p>
              <p>*Illustration</p>
            </li>
            <li class="span3">
              <img src="/assets/img/service3.png">
              <br>
              <br>
              <h4>Technology</h4>
              <br>
              <p>Yes, we know all about the latest technology around. Look, we bought the brand new iPhone 2.</p>
              <p>*Ruby</p>
              <p>*Drupal</p>
              <p>*Mobile Sites</p>
            </li>
            <li class="span3">
              <img src="/assets/img/service4.png">
              <br>
              <br>
              <h4>Marketing</h4>
              <br>
              <p>Do you feel like a Fail Whale? We are experts in digital marketing, so don't worry.</p>
              <p>*Social Media</p>
              <p>*Facebook Pages</p>
              <p>*Newsletters</p>
            </li>
          </ul>
    <!-- /END "Our Services" section -->

        
        </div><!-- /span12 -->
      </div><!-- /row -->
    </div> <!-- /container -->

  <!-- FOOTER -->
  

  </body>
</html>
