<h1>All Articles</h1>

<%= link_to "RSS Feed", article_url(:rss) %>
<br></br>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<% if logged_in? %>
 <%= link_to "New Article", new_article_path, :class => "new_article" %>
<% end %>