<div id="end">
         <footer class="clearfix">
         	<div class="container">
         		<div class="row">
     <!-- About section -->
         			<ul class="span3">
         			<h5>ABOUT</h5>
        			<p>5280 Web Design is a Colorado based company. We can provide the right solution for your business or personal needs</p>
                    
                    
                    <br></br>
                    &copy; 2013 <strong>5280 Web Design</strong>
                    <br/>Riding on <a href="http://www.rubyonrails.org">Ruby on Rails</a>
                    <br/>Theme by <a href="https://wrapbootstrap.com/theme/agentrap-agency-theme-WB0316C51">AgentRap</a>
         			
         			</ul>
     <!-- /END About section -->
     <!-- Socialize section -->
         			<ul class="span3">
 						<h5>SOCIALIZE</h5>
 						<p>We are social people. We love be in contact with everybody. We share beautiful things & thoughts and we like to eat cookies.</p>
						<a href="https://twitter.com/5280webdesign"><img src="/assets/img/social/Twitter.png" alt="Twitter"></a>
						<a href="http://pinterest.com/5280webdesign"><img src="/assets/img/social/Pinterest.png" alt="Pinterest"></a>
						<a href="http://5280webdesign.tumblr.com/"><img src="/assets/img/social/Tumblr.png" alt="Tumblr"></a>
						<a href=" http://dribbble.com/5280webdesign"><img src="/assets/img/social/Dribbble.png" alt="Dribbble"></a>
						<a href="http://www.behance.net/5280webesign"><img src="/assets/img/social/Behance.png" alt="Behance"></a>
                        <a href="http://feeds.feedburner.com/5280webdesign"><img src="/assets/img/social/Feed.png" alt="Behance"></a>
                        <a href="https://vimeo.com/user17248641"><img src="/assets/img/social/Vimeo.png" alt="Vimeo"></a>
         			</ul>
     <!-- /END Socialize section -->
     <!-- Latest Tweet section -->
         			<ul class="span3">
 						<h5>LATEST TWEETS</h5>
 						<div id="jstwitter" class="clearfix">
						<ul id="twitter_update_list"></ul>
						</div>
						<script src="http://twitter.com/javascripts/blogger.js"></script><!-- Script Needed to load the Tweets -->
						<script src="http://api.twitter.com/1/statuses/user_timeline/5280webdesign.json?callback=twitterCallback2&count=3"></script>
     					<!-- To show your tweets replace "twbootstrap", in the line above, with your user. -->
         			</ul>
     <!-- /END Latest Tweets section -->
     <!-- Contact section -->
         			<ul class="span3">
         			<h5>CONTACT</h5>

         			<p><i class="icon-home icon-orange"></i> 4610 South Ulster Drive</p>
         			<p><i class="icon-globe"></i>Denver, Colorado</p>
         			<p><i class="icon-envelope"></i> admin@5280webdesign.com</p>
         			<p><i class="icon-thumbs-up"></i> Like to talk!</p>
         			</ul>
                    

            
         </section>
     <!-- /END Contact section -->


         		</div><!-- /row -->
         	</div><!-- /container -->
         </footer><!-- /footer -->
    </div><!-- /end -->

	    

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-carousel.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  	<script type='text/javascript' src="/assets/js/jquery.prettyPhoto.js"></script>
  	<script type="text/javascript" src="/assets/js/agentrap.js"></script>