<div id="header_bg"></div> <!-- Display top header background -->
			<div class="row">
				<div class="span12">
					<div id="logo"><img src="/assets/img/coollogo.png" alt="Logo"></div><!-- Display Logo -->
  	
  	<!-- Navigation -->
					<nav>
					<ul class="nav pull-right nav-pills">
						<li class="active">
		    				<a href="/home.html">Home</a>
		 				 </li>
								      				
		      			<li><a href="/portfolio.html">Portfolio</a></li>
		      					    				
						<li><a href="/services.html">Services</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="/blog.html">Blog</a></li>
						<li><a href="messages.html">Contact</a></li>
					</ul>
					</nav>	
  	<!-- /END Navigation -->
					
				</div><!--/span12 -->
			</div> <!--/row -->
    <!-- /END TOP PART -->
		
		<br>
		<br>
		<br>
		<br>
		<br>
			